body {
  background-color: aquamarine;
  text-align: center;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 1%;
  border: 1px solid black;
  align-items: center;
}

.logo > img {
  width: 100px;
}

.header > ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  align-items: center;
}

.header > button {
  width: 100px;
  height: 35px;
  border-radius: 25px;
}

/* Body styling */
.body {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  border: 1px solid black;
  margin: 10px;
  width: 250px;
  box-sizing: border-box;
}

.card > img {
  width: 100%;
}

.restro {
  display: flex;
}

/* Shimmer */

.shimmer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shimmer-card {
  background-color: lightgrey;
  margin: 10px;
  width: 250px;
  height: 300px;
  box-sizing: border-box;
}

/* FAQs */
.faq {
  text-align: left;
  border: 1px solid black;
  margin: 15px;
  padding: 15px;
}
